cicd.applyinnovations.au {
	reverse_proxy cicd
}

status.applyinnovations.au:80, 
status.applyinnovations.au:443 {
	reverse_proxy status:8080
}

observability.applyinnovations.au {
	reverse_proxy grafana
}

ss.applyinnovations.au {
	reverse_proxy ss
}

detect.applyinnovations.au {
	reverse_proxy detect
}

api.detect.applyinnovations.au {
	reverse_proxy detect-api
}

dev.evlogbook.com, evlogbook.com {
	header Content-Type text/html
	respond <<HTML
		<html>
			<head><title>EV Logbook</title></head>
			<body></body>
		</html>
		HTML 200
}
