cicd.applyinnovations.au {
	reverse_proxy cicd
}

status.applyinnovations.au:80, 
status.applyinnovations.au:443 {
	reverse_proxy status:8080
}

observability.applyinnovations.au {
	reverse_proxy grafana
}

ss.applyinnovations.au {
	reverse_proxy ss
}

detect.applyinnovations.au {
	reverse_proxy detect
}

api.detect.applyinnovations.au {
	reverse_proxy detect-api
}

dev.evlogbook.com, evlogbook.com {
	header Content-Type text/html
	respond <<HTML
		<html>
			<head><title>EV Logbook</title></head>
			<body></body>
		</html>
		HTML 200
}

dev.evlogbook.com/.well-known/appspecific/com.tesla.3p.public-key.pem {
	respond <<TEXT
		-----BEGIN PUBLIC KEY-----
		MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEQghUw+/oGQMMicjOuXELs1zABK1y
		DxfuGlsZfsMLwf0lTtQFmSqmTFb6oO2bf4tg3XPiznHBcvmutgNRjM1D4g==
		-----END PUBLIC KEY-----
		TEXT 200
}
